<div class="meeting-type-container flex-col center">
  <div class="meeting-type flex-row">
    <div class="meeting-type-box flex-row center-y">
      {{icons/location-icon}}
      <span>Face to Face Meeting</span>
    </div>
    <div class="meeting-type-box flex-row center-y meeting-online">
      {{icons/phone-icon}}
      <span>Online Meetings</span>
    </div>
  </div>
  <p class="meeting-description">
    Real-time interaction between remotely located users.
  </p>
</div>