<header class="meeting-header flex-row flex-between center-y">
  <div class="header-left">
    <span class="header-text">All Events</span>
    <span class="mx-sm">></span>
    <span class="header-subtext">Create Event</span>
  </div>

  <div class="header-right flex-row center-y">
    <div class="box-wrap flex-row center">
      <div class="box"></div>
    </div>
    <div class="user-wrap flex-row flex-between center-y">
      <p class="user">charan.dp</p>
    </div>
  </div>
</header>