$color-modal: #fff;
$color-popup: #000;
$color-secondary: #666;
$color-backdrop: #f7f7f7;
$color-green: #8cbf40;
$color-blue: #339dff;
$color-divider: #e6e6e6;
$color-black-secondary: #5a5a5a;
$color-black-tertiary: #222222;
$color-black-light: #666;
