<main class="meeting-container flex-row">
  <section class="empty-container"></section>
  <section
    class="schedule-container"
    style="opacity:1 !important;position:relative;"
  >
    {{meeting-header}}
    <div class="schedule-body">
      {{meeting-type}}
      {{meeting-input}}
    </div>
  </section>
</main>